
table {
    margin: 10px 2%;
    border-spacing: 1px;
    background-color: var(--col_comp_bg);
}

td, th { 
    padding: 5px;
} 

td {
    background-color: var(--col_comp_3);
}

th {
    background-color: var(--col_comp_6);
    user-select: none;
    cursor: pointer;
}

th:hover {
    background-color: var(--col_comp_5);
}

th:active {
    background-color: var(--col_comp_4);
}

div.flow-div {
    margin: auto;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
