<app-paragraph [dataSourceUrl]='root.paragraph'></app-paragraph>

<app-paragraph [dataSourceUrl]='root.skillChecks.paragraph'></app-paragraph>
<app-table [dataSourceUrl]='root.skillChecks.averageSkillSuccessChance'></app-table>
<app-paragraph [dataSourceUrl]='root.skillChecks.advantageAndDisadvantage.paragraph'></app-paragraph>

<app-paragraph [dataSourceUrl]='root.favor.paragraph'></app-paragraph>

<app-paragraph [dataSourceUrl]='root.light.paragraph'></app-paragraph>

<app-paragraph [dataSourceUrl]='root.wealth.paragraph'></app-paragraph>

<app-paragraph [dataSourceUrl]='root.combat.paragraph'></app-paragraph>
<app-paragraph [dataSourceUrl]='root.combat.initiatingAndSurprise.paragraph'></app-paragraph>
<app-paragraph [dataSourceUrl]='root.combat.actionsInCombat.paragraph'></app-paragraph>
<app-paragraph [dataSourceUrl]='root.combat.cover.paragraph'></app-paragraph>
<app-table [dataSourceUrl]='root.combat.cover.coverTypes'></app-table>

<app-paragraph [dataSourceUrl]='root.damageAndDeath.paragraph'></app-paragraph>

<app-paragraph [dataSourceUrl]='root.restAndRestoration.paragraph'></app-paragraph>
<app-table [dataSourceUrl]='root.restAndRestoration.regenValues'></app-table>


<!-- coreMechanics : {
 vv 
  vdamageAndDeath : {
    paragraph : 'assets/data/coreMechanics/damageAndDeath/paragraph.json',
  },
  restAndRestoration : {
    paragraph : 'assets/data/coreMechanics/restAndRestoration/paragraph.json',
    regenValues : 'assets/data/coreMechanics/restAndRestoration/regenValues.tsv',
  },
   -->