<div class="navbar">
  <a routerLink='/'>HOME</a>
  <div class="dropdown">
    <button class="dropbtn">RULES &#9660;
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/rules/introduction">INTRODUCTION</a>
      <a routerLink="/rules/character-creation">CHARACTER CREATION</a>
      <a routerLink="/rules/core-mechanics">CORE MECHANICS</a>
      <a routerLink="/rules/resources">RESOURCES</a>
      <a routerLink="/rules/npcs">NON PLAYER CHARACTERS</a>
    </div>
  </div>
  <div class="dropdown">
      <button class="dropbtn">GENERATORS &#9660;
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink='/character-generator'>CHARACTER GENERATOR</a>
        <a routerLink='/ability-generator'>ABILITY GENERATOR</a>
        <a routerLink='/npc-generator'>NPC GENERATOR</a>
      </div>
    </div>
  <a routerLink='/encounter-calculator'>ENCOUTER CALCULATOR</a>
  <a routerLink='/downloads'>DOWNLOADS</a>
  </div>