#content-div{
    margin: 0 3%;
    padding: 10px 2%;
    height: calc(100% - 70px);
    box-shadow: var(--standard_shadow);
    background-color: var(--col_body_3);   
    overflow-y: scroll;   
    overflow-x: hidden;
}